@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter-Regular", Helvetica;
  }
}

.js-plotly-plot svg {
  display: inline;
  margin-top: 5px;
}

.custom-box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.box-shadow-button-green::before,
.box-shadow-button-green::after, 
.box-shadow-button-blue::before,
.box-shadow-button-blue::after, 
.box-shadow-button-grey::before,
.box-shadow-button-grey::after{
  transition: 0.5s, box-shadow 0.5s;
}

 .button:hover .box-shadow-button-green::before {
  box-shadow:50px 0 #fff, 
    -50px 0 #A1E3CB,
    -50px 0 4px white,
    10px -10px #A1E3CB,
    -10px -10px #fff;
  transition-delay: 0s,0.5s;
}

.button:hover .box-shadow-button-green::after {
  box-shadow:-50px 0 #fff, 
    50px 0 #A1E3CB,
    50px 0 4px white,
    -10px 10px #A1E3CB,
    10px 10px #fff;
  transition-delay: 0s,0.5s;
}

.button:hover .box-shadow-button-blue::before {
  box-shadow:50px 0 #fff, 
    -50px 0 #95A4FC,
    -50px 0 4px white,
    10px -10px #95A4FC,
    -10px -10px #fff;
  transition-delay: 0s,0.5s;
}

.button:hover .box-shadow-button-blue::after {
  box-shadow:-50px 0 #fff, 
    50px 0 #95A4FC,
    50px 0 4px white,
    -10px 10px #95A4FC,
    10px 10px #fff;
  transition-delay: 0s,0.5s;
}

.button:hover .box-shadow-button-grey::before {
  box-shadow:50px 0 #fff, 
    -50px 0 #A8C5DA,
    -50px 0 4px white,
    10px -10px #A8C5DA,
    -10px -10px #fff;
  transition-delay: 0s,0.5s;
}

.button:hover .box-shadow-button-grey::after {
  box-shadow:-50px 0 #fff, 
    50px 0 #A8C5DA,
    50px 0 4px white,
    -10px 10px #A8C5DA,
    10px 10px #fff;
  transition-delay: 0s,0.5s;
}

.input:focus ~ label span, 
.input:valid ~ label span {
  color: #1c1c1c;
  font-weight: 600;
  letter-spacing: 0.15em;
  transform: translateY(-25px);
}

.h-max-content {
  height: max-content;
}

.active-link {
  background-color: #1c1c1c0d;
}

.box-shadow-blue::before {
  box-shadow:50px 0 #fff, 
    -50px 0 #95A4FC,
    -50px 0 4px white,
    10px -10px #95A4FC,
    -10px -10px #fff;
}

.box-shadow-blue::after {
  box-shadow:-50px 0 #fff, 
    50px 0 #95A4FC,
    50px 0 4px white,
    -10px 10px #95A4FC,
    10px 10px #fff;
}

.custom-scrollbar-gray {
  overflow-y: auto;
}

.custom-scrollbar-gray::-webkit-scrollbar {
  height: 10px;
}

.custom-scrollbar-gray::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-gray::-webkit-scrollbar-thumb {
  background-color: #A8C5DA;
  border-radius: 10px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar {
  width:12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #A8C5DA;
  border-radius: 10px;
  border: 2px solid transparent;
}

.outline-text {
    -webkit-text-stroke: 1px #95A4FC;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03); /* rgba(#223254, .03) */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(0.9);
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #A8C5DA;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s ease;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
  transition: stroke-dashoffset 0.3s ease, opacity 0.3s ease;
}

.check:hover::before {
  opacity: 0.3;
  transform: scale(1);
}

.check:hover svg {
  stroke:#A8C5DA;
}

input[type="checkbox"]:checked + .check svg {
  stroke:#A8C5DA;
}

input[type="checkbox"]:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: stroke-dashoffset 0.3s ease;
}

input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  opacity: 1;
  transition: stroke-dashoffset 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.15s;
}

input[type="checkbox"]:not(:checked) + .check svg path {
  stroke-dashoffset: 0;
  transition-delay: 0.2s;
}

input[type="checkbox"]:not(:checked) + .check svg polyline {
  stroke-dashoffset: 66;
  opacity: 0.5;
}
